.root {
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-text-fill: lightgray;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: white;
    -fx-font-family: Arial;
}